absl-py==0.9.0
appdirs==1.4.4
apturl==0.5.2
ase==3.20.1
asn1crypto==1.4.0
astroid==2.4.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
autobahn==17.10.1
automat==20.2.0
autopep8==1.5.4
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.1.5
blinker==1.4
bokeh==0.12.16
brlapi==0.7.0
brotli==1.0.9
bs4==0.0.1
cachetools==4.1.0
cairocffi==1.1.0
cairosvg==2.4.2
captum==0.3.0
cbor==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.3
command-not-found==0.3
configparser==5.0.1
constantly==15.1.0
cryptography==3.0
cssselect2==0.3.0
cupshelpers==1.0
cycler==0.10.0
cython==0.29.21
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.1
dash-table==4.10.1
dash==1.16.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro-info==0.23ubuntu1
distro==1.5.0
docker-pycreds==0.4.0
duplicity==0.8.12.0
entrypoints==0.3
evdev==1.3.0
fasteners==0.14.1
filelock==3.0.12
findspark==1.3.0
flask-compress==1.5.0
flask-sqlalchemy==2.4.1
flask==1.1.2
future==0.18.2
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.11
google-api-core==1.19.0
google-api-python-client==1.9.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-auth==1.16.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
googledrivedownloader==0.4
graphviz==0.14
grpcio==1.29.0
gunicorn==20.0.4
h5py==2.10.0
hfda==0.1.1
httplib2==0.18.1
hyperlink==19.0.0
idna==2.10
imageio==2.8.0
importlib-metadata==1.6.0
importlib==1.0.4
incremental==16.10.1
install==1.3.4
ipykernel==5.2.1
ipython-genutils==0.2.0
ipython-sql==0.4.0
ipython==7.14.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
jeepney==0.4.3
jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter==1.0.0
keras-preprocessing==1.1.2
keras==2.4.0
keyring==21.3.0
keyrings.alt==3.4.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.4.3
libevdev==0.5
llvmlite==0.35.0
lockfile==0.12.2
louis==3.14.0
lxml==4.5.2
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
mako==1.1.2
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mne==0.16
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
mpld3==0.5.1
nbconvert==5.6.1
nbformat==5.0.6
netifaces==0.10.4
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.52.0
numpy==1.18.4
oauth2client==4.1.3
oauth==1.0.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.46
opt-einsum==3.2.1
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.3.3
plotly==4.10.0
pluggy==0.13.0
prettytable==0.7.2
progressbar==2.5
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.0
psutil==5.7.0
ptyprocess==0.6.0
py-ubjson==0.14.0
py4j==0.10.7
py==1.9.0
pyasn1-modules==0.2.1
pyasn1==0.4.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pydoe==0.3.8
pydot==1.4.1
pydotplus==2.0.2
pydrive==1.3.1
pyeeg==0.4.4
pygal==2.4.0
pygments==2.6.1
pygobject==3.38.0
pyhamcrest==1.9.0
pyjwt==1.7.1
pylint-flask==0.6
pylint-plugin-utils==0.6
pylint==2.5.2
pymacaroons==0.13.0
pymysql==0.9.3
pynacl==1.4.0
pyopenssl==19.1.0
pyparsing==2.4.7
pypng==0.0.20
pyqrcode==1.2.1
pyrfc3339==1.1
pyrsistent==0.16.0
pyspark==2.4.5
pytelegrambotapi==3.7.1
pytest==4.6.11
python-apt==2.1.3+ubuntu1
python-dateutil==2.8.1
python-debian==0.1.37
python-louvain==0.14
python-snappy==0.5.3
pytrie==0.2
pytz==2020.1
pyudev==0.21.0
pywavelets==1.1.1
pyxdg==0.26
pyyaml==5.3.1
pyzmq==19.0.1
qtconsole==4.7.7
qtpy==1.9.0
randomcolor==0.4.4.5
rdflib==5.0.0
regex==2020.5.14
reportlab==3.5.47
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requests==2.23.0
retrying==1.3.3
rsa==4.0
scikit-image==0.17.2
scikit-learn==0.23.0
scipy==1.4.1
seaborn==0.10.1
secretstorage==3.1.2
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.19.1
service-identity==18.1.0
setproctitle==1.1.10
setuptools==49.3.1
shortuuid==1.0.1
simplejson==3.17.0
six==1.14.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.0.1
sqlalchemy==1.3.17
sqlparse==0.4.1
statsmodels==0.11.1
subprocess32==3.5.4
system-service==0.3
systemd-python==234
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.2
tensorboardx==2.0
tensorflow-estimator==2.2.0
tensorflow==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.0.0
tifffile==2020.10.1
tinycss2==1.0.2
tmdbsimple==2.2.1
toml==0.10.1
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch==1.7.1+cpu
torchaudio==0.7.2
torchvision==0.8.2+cpu
torchviz==0.0.1
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twisted==18.9.0
txaio==20.4.1
typing-extensions==3.7.4.3
u-msgpack-python==2.3.0
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unity-tweak-tool==0.0.7
uritemplate==3.0.1
urllib3==1.25.9
usb-creator==0.3.7
vboxapi==1.0
virtualenv==20.0.20
wadllib==1.3.4
wandb==0.10.8
watchdog==0.10.3
wcwidth==0.1.9
webcolors==1.3
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.34.2
widgetsnbextension==3.5.1
wrapt==1.12.1
wsaccel==0.6.2
wtforms==2.3.1
xkit==0.0.0
xlrd==1.2.0
zipp==1.0.0
zope.interface==4.7.1